[Unit]
After=network.target
Description=KoyunKapan Bot Service

[Service]
Restart=always
ExecStart=python3 -m koyunkapan.bot.core
Environment="KOYUNKAPAN_DATA_DIR=/home/user/koyunkapan/data"

[Install]
WantedBy=multi-user.target
