{% extends "base.html" %}
{% block title %}KoyunKapan Dashboard{% endblock %}
{% block main %}
    <div class="data-container">
        <div class="data-title">Last 10 Reply (Total: {{ replies|length }})</div>
        <div class="logs">
            {% for reply in replies[-10:] %}
                {% set submission_url = "https://www.reddit.com/r/" + reply.subreddit__name + "/comments/" + reply.submission_id %}
                {% set comment_url = "https://www.reddit.com/r/" + reply.subreddit__name + "/comments/" + reply.submission_id + "/comment/" + reply.comment_id %}
                <div>
                    r/{{ reply.subreddit__name }} - Submission: <a href="{{ submission_url }}">{{ reply.submission_id }}</a> - Comment: <a href="{{ comment_url }}">{{ reply.comment_id }}</a> - Text: {{ reply.text|e }}
                </div>
            {% endfor %}
        </div>
        <div class="data-title">Last 100 Log</div>
        <div class="logs">
            {% for line in logs %}<div>{{ line.strip() |e }}</div>{% endfor %}
        </div>
        <div class="data-title">Bot Uptime</div>
        <div class="logs">
            <p>{{ uptime }}</p>
        </div>
        <div class="data-title">Bot Service Status</div>
        <div class="logs">
            <pre>{{ service_output }}</pre>
        </div>
    </div>
{% endblock %}
